<div class="slide slide--cover">
  <div class="cover-header">
    <span class="cover-tag pill">{{meta.tag}}</span>
  </div>
  
  <div class="cover-hero">
    <h1 class="cover-title">{{slide.title}}</h1>
    {{#if slide.subtitle}}
    <p class="cover-subtitle">{{slide.subtitle}}</p>
    {{/if}}
    {{#if meta.cover_illustration}}
    <div class="cover-image-container">
      <img src="assets/illustrations/{{meta.cover_illustration}}" alt="" class="cover-illustration">
    </div>
    {{/if}}
  </div>

  <div class="cover-footer">
    <div class="series-branding">
      {{#if meta.author}}
      <span class="cover-author">{{meta.author}}</span>
      {{#if meta.author_handle}}
      <span class="cover-author-handle">{{meta.author_handle}}</span>
      {{/if}}
      {{/if}}
    </div>
  </div>
</div>
